body {
  margin: 0;
}
/*estilo da navegação superior da página principal*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 40px;
  background-color: #ebebeb;
  font-family: "poppins";
  font-weight: 600;
  text-transform: uppercase;
}
.lista {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  list-style: none;
}
.botao-header {
  padding: 10px;
  background-color: #e66755;
  border-radius: 4px;
  text-decoration: none;
  color: black;
}
/*estilo do conteúdo da página principal*/
.container {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}
.titulo-principal {
  text-transform: uppercase;
  font-family: "roboto";
  font-weight: 400;
  font-size: 45px;
  text-align: center;
}
.sobre {
  font-family: "roboto";
  font-weight: 400;
  line-height: 25px;
  font-size: 25px;
  color: #433d3dc8;
  text-align: center;
  padding: 0 20px 0 20px;
}
.container-secundario {
  display: flex;
  flex-direction: column;
}

.div-imagem {
  width: 620px;
}
.imagem {
  width: 100%;
}
